*swo
*swp
*~
*.tmp
temp/*
.bundle
.venv
.goenv
.config
*.lock
raguel-master
example/www-data
example/blog-site
boilerplates/zurblog/www-data
boilerplates/zurblog/blogs
boilerplates/zurblog/datum.json
www-data/blogs
